.container {
    height: calc(100vh - 100px);
    padding: 20px;
    text-align: center;
}
.container h2 {
    font-size: 2.5em;
    font-weight: 800;
    color: #3B3486;
    margin-top: 20px;
}

.container .flork {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container .flork img {
    max-width: 300px;
    width: 100%;
    height: auto;
}
.container .flork .flork-text {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    color: #3B3486;
    margin-top: 20px;
}